<div class="container">
  <ul class="nav mb-4">
    <li class="nav-item">
      <div class="nav-link active text-primary cursor" id="link-back-to-sale-portal">< Quay lại sales portal</div>
    </li>
  </ul>
  <h3 class="text-center">Kiểm tra eKYC Khách hàng <i id="kh-name" class="text-danger"></i></h3>
  <div class="d-flex justify-content-center">
    <div class="card w-100">
      <div class="card-header">
        <b>eKYC</b> <span id="ekyc-label-is-confirm" class="text-danger">(Chưa xác thực)</span>
      </div>

      <form id="formCMND" enctype="multipart/form-data" action="/upload" remote="true" method="post">
        <input type="hidden" name="kind" value="lead_doc">
        <input type="hidden" name="object_id" value="<%= params['mbal'].split('/').last %>">
        <input type="hidden" name="object_type" value="Lead">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-6 text-center">
                <div class="input-group">
                  <div class="custom-file">
                      <input id="CMNDFront" name="cmnd_front" type="file" class="custom-file-input" onchange="uploadCMND(event, 'previewCMNDFront')">
                      <label class="custom-file-label" for="CMNDFront">Mặt trước CMND/ CCCD</label>
                  </div>
                </div>
                <img class="img-thumbnail d-none mt-3" id="previewCMNDFront" width="150px" height="150px"/>
              </div>
              <div class="col-6 text-center">
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" name="cmnd_back"  class="custom-file-input" id="CMNDBack" onchange="uploadCMND(event, 'previewCMNDBack')">
                    <label class="custom-file-label" for="CMNDBack">Mặt sau CMND/ CCCD</label>
                  </div>
                </div>
                <img class="img-thumbnail d-none mt-3" id="previewCMNDBack" width="150px" height="150px"/>
              </div>
            </div>
          </li>

          <li class="list-group-item text-center ">
            <div id="btnDetectWebcam" class="btn btn-outline-primary mb-3" onclick="videoOnPlay()">
              Xác thực camera
            </div>
            <!-- <div class="test-submit btn btn-success" >submit</div> -->
            <div id="webcamBox" style="position: relative" class="border-primary d-flex justify-content-center">
              <div class="" style="position: relative; width: 480px; height: 320px">
                <video id="inputVideo" width="480" height="320" class="border border-primary"></video>
                <canvas id="canvas" width="480" height="320" class=""></canvas>

              </div>

              <div id="ekyc-alert-success" class="alert border border-success text-success d-none bg-light" role="alert">
                Độ phù hợp <b id="ekyc-like-percent" class="text-danger"></b>
                <div class="w-100">
                  <div id="ekyc-btn-submit" class="btn btn-success mt-2">Submit</div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>

<div class="loading d-none">Loading&#8230;</div>
<style type="text/css">
  * {
    margin: 0;
    padding: 0;
  }
  .cursor { cursor: pointer; }
  #inputVideo, #canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .img-thumbnail {
    height: 150px;
    object-fit: contain;
  }

  #ekyc-alert-success {
    width: 50%;
    position: absolute;
    bottom: 10%;
  }
</style>
<script type="text/javascript">
  $(function(){
    let sp_url = "<%= sp_base_url %>";
    const api_url = "<%= backend_base_url %>";
      $('.test-submit').on('click', function(event) {
        let inputCMNDFront = $('#CMNDFront')[0];
        let inputCMNDBack = $('#CMNDBack')[0];
        if (!inputCMNDFront.files[0] || !inputCMNDBack.files[0]) {
          alert('Chưa có CMND/CCCD mặt trước/ Mặt sau');
          return false;
        }
        $('#formCMND').submit();
        $(document).ajaxSuccess( function(data) {alert('data');} )
      });

      $('#link-back-to-sale-portal').on('click', function(event) {
        event.preventDefault();
        // mbal_pathname = window.location.href.split(mbal_pathname'https://mbal_sales_portal.ngrok.io/?mbal=')[1];
        // mbal_link = `http://122.248.226.101:3001${mbal_pathname}`;
        mbal_pathname = window.location.href.split('?mbal=')[1];
        mbal_link = `${sp_url}${mbal_pathname}`;
        window.location.href = mbal_link;
      });
  });

  function submitForm() {
    let inputCMNDFront = $('#CMNDFront')[0];
    let inputCMNDBack = $('#CMNDBack')[0];
    if (!inputCMNDFront.files[0] || !inputCMNDBack.files[0]) {
      alert('Chưa có CMND/CCCD mặt trước/ Mặt sau');
      return false;
    }
    $('#formCMND').submit();
  }
</script>